<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content=""
    <tittle>Heroes</tittle>

</head>
<body>
    <h1>Heroes</h1>
    <a href="#lejos">Ir lejos</a>
    <p>Lorem ipsum dolor sit,amet consectetur adipsicing elit.Totam veritatis sit quas, alias
        cunque consectetur esse ullam ipsam perspiciatis similique laudantium ea, aut amet odio facere.
   <span> Blanditiis</span>laboriosam rerum saepe! </p>
   <h2>Biografia</h2>
   <p>Hola este es un texto</p>

    <span>esto no es un span, es una etiqueta</span>
    <ol>
        <li><a href="/babage">Babbage</a></li>
        <li>dia 2</li>
    </ol>
    
    

    




</body>


</html>